{{define "body"}}

This is an invoice for your purchase on [puchase date]. Please submit payment by [due date].

[Product Name] ( https://example.com )

************
Hi [name],
************

Thanks for purchasing from [Product Store]. This is an invoice for your recent purchase.

Amount Due: [total]

Due By: [due date]

Pay Invoice ( [action url] )

[invoice id]
--------------

[date]
--------

Description

Amount

[invoice details]

[description]
[amount]

[each invoice details]

Total

[total]

Please find your invoice attached.

If you have any questions about this invoice, simply reply to this email or reach out to our support team ( [support url] ) for help.

Cheers,
The [Product Name] team

If you’re having trouble with the button above, copy and paste the URL below into your web browser.

[action url]

[Company Name, LLC]

1234 Street Rd.

Suite 1234

{{end}}