{{template "base" .}}


{{define "title"}}
    Limited Time Offer!
{{end}}


{{define "content"}}
<h2 class="mt-3 text-center">Limited Time Item</h2>
<hr>
<img src="/static/gopher.jpg" alt="gopher" class="image-fluid rounded mx-auto d-block">

{{end}}